In [130]:
import pandas as pd

In [131]:
b = pd.read_csv('../data/est2.csv', delimiter=';')

In [132]:
b=b[['est','c2', 'c1']]
b

         est         c2        c1
0   28079004  40.423882 -3.712257
1   28079008  40.421553 -3.682316
2   28079011  40.451473 -3.677349
3   28079016  40.440046 -3.639242
4   28079017  40.347147 -3.713317
5   28079018  40.394782 -3.731836
6   28079024  40.419358 -3.747345
7   28079027  40.476918 -3.580026
8   28079035  40.419209 -3.703166
9   28079036  40.407952 -3.645310
10  28079038  40.445544 -3.707130
11  28079039  40.478232 -3.711536
12  28079040  40.388148 -3.651529
13  28079047  40.398099 -3.686814
14  28079048  40.439890 -3.690373
15  28079049  40.414444 -3.682500
16  28079050  40.465584 -3.688745
17  28079054  40.373012 -3.612139
18  28079055  40.462363 -3.580565
19  28079056  40.385034 -3.718768
20  28079057  40.494201 -3.660517
21  28079058  40.518070 -3.774610
22  28079059  40.460726 -3.616341
23  28079060  40.500548 -3.689731

In [133]:
estaciones = pd.read_json('../data/estsciones_cm.json')
estaciones['data'][0]

{'estacion_analizador_CO': 'Si',
 'estacion_analizador_PM2_5': 'Si',
 'estacion_tipo_area': 'Urbana',
 'estacion_coord_UTM_ETRS89_y': 4481011,
 'estacion_coord_UTM_ETRS89_x': 467979,
 'estacion_codigo': 28005002,
 'estacion_coord_longitud': '03°22\'40,0"W',
 'estacion_analizador_PM10': 'Si',
 'estacion_analizador_NO2': 'Si',
 'estacion_analizador_SO2': 'Si',
 'estacion_tipo_estacion': 'Tráfico',
 'zona_calidad_aire_descripcion': 'Zona 2 Corredor del Henares',
 'estacion_altitud': 595,
 'estacion_analizador_NO': 'Si',
 'estacion_analizador_O3': 'Si ',
 'estacion_coord_latitud': '40°28\'45,0"N',
 'estacion_fecha_alta': '2000/03/16 00:00:00.000',
 'estacion_municipio': 'Alcalá de Henares',
 'estacion_direccion_postal': 'C.E.I.P. Manuel Azaña, Avda. del Ejército, 5'}

In [134]:
n = []
lon = []
lat = []
for i in range(len(estaciones)): 
    n.append(estaciones['data'][i]['estacion_municipio'])    
    lon.append(estaciones['data'][i]['estacion_coord_longitud'])
    lat.append(estaciones['data'][i]['estacion_coord_latitud'])

In [135]:
lat[1]

'40°32\'25,8"N'

In [136]:
lat[1][0:2]

'40'

In [137]:
lat[1][3:5]

'32'

In [138]:
lat[1][6:10]

'25,8'

In [139]:
lat_g = [x[0:2] for x in lat]

In [140]:
lat_m = [x[3:5] for x in lat]

In [141]:
lat_s = [x[6:10] for x in lat]

In [142]:
lon_g = [x[0:2] for x in lon]

In [143]:
lon_m = [x[3:5] for x in lon]

In [144]:
lon_s = [x[6:10] for x in lon]

In [145]:
c = pd.read_csv('../data/estaciones.csv')
c.columns

Index(['CÓDIGO NACIONAL', ' CÓDIGO MUNICIPIO', ' NOMBRE ESTACIÓN',
       'Unnamed: 3'],
      dtype='object')

In [146]:
co= pd.read_csv('../data/comunidadgeo.csv')

In [147]:
co['Unnamed: 0']= c['CÓDIGO NACIONAL']

In [148]:
co.columns = ['code', 'lat', 'lon']

In [149]:
co

        code        lat       lon
0   28005002  40.479167 -3.377778
1   28006004  40.540500 -3.645194
2   28007004  40.341917 -3.833722
3   28009001  40.599750 -3.503278
4   28013002  40.033278 -3.591417
5   28014002  40.300806 -3.458889
6   28016001  40.909056 -3.467889
7   28045002  40.664639 -3.773889
8   28047002  40.633111 -4.014194
9   28049003  40.430472 -3.542306
10  28058004  40.281528 -3.800944
11  28065014  40.314583 -3.716861
12  28067001  40.780639 -3.702167
13  28074007  40.339778 -3.754528
14  28080003  40.561944 -3.869000
15  28092005  40.324222 -3.876750
16  28102001  40.287583 -3.221111
17  28120001  40.825111 -3.961194
18  28123002  40.359750 -3.542861
19  28133002  40.367750 -4.398111
20  28148004  40.449556 -3.477639
21  28161001  40.185250 -3.680278
22  28171001  40.248722 -4.275667
23  28180001  40.167222 -3.276667

In [150]:
b.columns = ['code', 'lat', 'lon']

In [151]:
coordenadas_est = pd.concat([b,co])

In [152]:
coordenadas_est.reset_index(drop=True)

        code        lat       lon
0   28079004  40.423882 -3.712257
1   28079008  40.421553 -3.682316
2   28079011  40.451473 -3.677349
3   28079016  40.440046 -3.639242
4   28079017  40.347147 -3.713317
5   28079018  40.394782 -3.731836
6   28079024  40.419358 -3.747345
7   28079027  40.476918 -3.580026
8   28079035  40.419209 -3.703166
9   28079036  40.407952 -3.645310
10  28079038  40.445544 -3.707130
11  28079039  40.478232 -3.711536
12  28079040  40.388148 -3.651529
13  28079047  40.398099 -3.686814
14  28079048  40.439890 -3.690373
15  28079049  40.414444 -3.682500
16  28079050  40.465584 -3.688745
17  28079054  40.373012 -3.612139
18  28079055  40.462363 -3.580565
19  28079056  40.385034 -3.718768
20  28079057  40.494201 -3.660517
21  28079058  40.518070 -3.774610
22  28079059  40.460726 -3.616341
23  28079060  40.500548 -3.689731
24  28005002  40.479167 -3.377778
25  28006004  40.540500 -3.645194
26  28007004  40.341917 -3.833722
27  28009001  40.599750 -3.503278
28  28013002  40.033278 -3.591417
29  28014002  40.300806 -3.458889
30  28016001  40.909056 -3.467889
31  28045002  40.664639 -3.773889
32  28047002  40.633111 -4.014194
33  28049003  40.430472 -3.542306
34  28058004  40.281528 -3.800944
35  28065014  40.314583 -3.716861
36  28067001  40.780639 -3.702167
37  28074007  40.339778 -3.754528
38  28080003  40.561944 -3.869000
39  28092005  40.324222 -3.876750
40  28102001  40.287583 -3.221111
41  28120001  40.825111 -3.961194
42  28123002  40.359750 -3.542861
43  28133002  40.367750 -4.398111
44  28148004  40.449556 -3.477639
45  28161001  40.185250 -3.680278
46  28171001  40.248722 -4.275667
47  28180001  40.167222 -3.276667

In [153]:
coordenadas_est.to_csv('../data/coordenadas_est.csv',index=False)